In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('DisasterDeclarationsSummaries2.csv')
df2 = pd.read_csv('FEMA_Housing_Assistance_Owners2.csv')
df3 = pd.read_csv('FEMA_Housing_Assistance_Renters2.csv')

In [3]:
df1 = df1.rename(columns ={"disasterNumber" : "Disaster"})
df1.columns

Index(['femaDeclarationString', 'Disaster', 'state', 'declarationType',
       'declarationDate', 'fyDeclared', 'incidentType', 'declarationTitle',
       'ihProgramDeclared', 'iaProgramDeclared', 'paProgramDeclared',
       'hmProgramDeclared', 'incidentBeginDate', 'incidentEndDate',
       'disasterCloseoutDate', 'fipsStateCode', 'fipsCountyCode', 'placeCode',
       'designatedArea', 'declarationRequestNumber', 'hash', 'lastRefresh',
       'address'],
      dtype='object')

In [4]:
df1 = df1.loc[:,["address", "Disaster", "fyDeclared", "incidentType"]]
df1 = df1.loc[(df1 ["Disaster"]>=4116), :]
df1 = df1.loc[(df1 ["Disaster"]<=4466), :] 
df1 = df1.sort_values("Disaster")
df1

                              address  Disaster  fyDeclared incidentType
38524        4116, IL, Adams (County)      4116        2013        Flood
38550        4116, IL, Mason (County)      4116        2013        Flood
38551    4116, IL, McDonough (County)      4116        2013        Flood
38553       4116, IL, Mercer (County)      4116        2013        Flood
38554       4116, IL, Monroe (County)      4116        2013        Flood
...                               ...       ...         ...          ...
44614  4466, TX, San Jacinto (County)      4466        2020        Flood
44609       4466, TX, Harris (County)      4466        2020        Flood
44608     4466, TX, Chambers (County)      4466        2020        Flood
44610    4466, TX, Jefferson (County)      4466        2020        Flood
44615             4466, TX, Statewide      4466        2020        Flood

[5614 rows x 4 columns]

In [5]:
df2 = df2.rename(columns ={"Total Approved IHP Amount" : "IHP Amount for Renters"})
df2 = df2.rename(columns ={"Approved for FEMA Assistance" : "Renters Approved"})
df2 = df2.rename(columns ={"Approved between $1 and $10,000" : "Renters <$10k"})
df2 = df2.rename(columns ={"Approved between $10,001 and $25,000" : "Renters $10-25k"})
df2 = df2.rename(columns ={"Approved between $25,001 and Max" : "Renters $25k - Max"})
df2 = df2.rename(columns ={"Total Max Grants" : "Renters Max"})
df2

,Disaster,State,County,City,Zip Code,Valid Registrations,Average FEMA Inspected Damage,Total Inspected,Total Damage,No FEMA Inspected Damage,...,Renters Approved,IHP Amount for Renters,Repair/Replace Amount,Rental Amount,Other Needs Amount,Renters <$10k,Renters $10-25k,Renters $25k - Max,Renters Max,address
0,4116,IL,Cook (County),HILLSIDE,50162,1,0,1,0,1,...,$0,$0,$0,$0,$0,0,0,0,$0,"4116, IL, Cook (County)"
1,4116,IL,Lake (County),ANTIOCH,60002,68,3033.252,45,"136,496",4,...,$30,"$81,328","$58,458","$21,910",$960,$30,0,0,$0,"4116, IL, Lake (County)"
2,4116,IL,Cook (County),ARLINGTON HEIGHTS,60004,24,1849.915833,24,"44,398",3,...,$15,"$33,529","$31,899","$1,630",$0,$15,0,0,$0,"4116, IL, Cook (County)"
3,4116,IL,Cook (County),ARLINGTON HEIGHTS,60005,11,750.054,10,"7,501",3,...,$4,"$5,889","$5,889",$0,$0,$4,0,0,$0,"4116, IL, Cook (County)"
4,4116,IL,Cook (County),ELK GROVE VILLAGE,60007,5,2915.804,5,"14,579",1,...,$4,"$17,365","$7,186","$10,179",$0,$3,$1,0,$0,"4116, IL, Cook (County)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28336,4466,TX,Jefferson (County),BEAUMONT,77708,65,$588,54,"$31,730",25,...,7,"$15,725","$4,821","$7,034","$3,870",7,0,0,0,"4466, TX, Jefferson (County)"
28337,4466,TX,Jefferson (County),BEAUMONT,77713,259,"$8,689",219,"$1,902,879",38,...,127,"$654,432","$425,926","$196,162","$32,344",105,21,1,0,"4466, TX, Jefferson (County)"
28338,4466,TX,Jefferson (County),BEVIL OAKS,77713,10,"$11,237",10,"$112,374",1,...,6,"$24,691","$11,133","$9,572","$3,987",5,1,0,0,"4466, TX, Jefferson (County)"
28339,4466,TX,Jefferson (County),CHINA,77713,1,$440,1,$440,0,...,0,$0,$0,$0,$0,0,0,0,0,"4466, TX, Jefferson (County)"
28340,4466,TX,Jefferson (County),NOME,77769,1,$0,1,$0,1,...,0,$0,$0,$0,$0,0,0,0,0,"4466, TX, Jefferson (County)"

In [6]:
df2.columns

Index(['Disaster', 'State', 'County', 'City', 'Zip Code',
       'Valid Registrations', 'Average FEMA Inspected Damage',
       'Total Inspected', 'Total Damage', 'No FEMA Inspected Damage',
       'FEMA Inspected Damage between $1 and $10,000',
       'FEMA Inspected Damage between $10,001 and $20,000',
       'FEMA Inspected Damage between $20,001 and $30,000',
       'FEMA Inspected Damage > $30,000', 'Renters Approved',
       'IHP Amount for Renters', 'Repair/Replace Amount', 'Rental Amount',
       'Other Needs Amount', 'Renters <$10k', 'Renters $10-25k',
       'Renters $25k - Max', 'Renters Max', 'address'],
      dtype='object')

In [32]:
df2a = df2.loc[:,["address", "Disaster", "IHP Amount for Renters","Renters Approved", 
                 "Renters <$10k", "Renters $10-25k", "Renters $25k - Max", "Renters Max"]]
del(df2a["Disaster"])
df2a['IHP Amount for Renters'] = df2a['IHP Amount for Renters'].str.replace(',','').str.replace('$','').astype('int')
df2a['Renters Approved'] = df2a['Renters Approved'].str.replace(',','').str.replace('$','').astype('int')
df2a['Renters <$10k'] = df2a['Renters <$10k'].str.replace(',','').str.replace('$','').astype('int')
df2a['Renters $10-25k'] = df2a['Renters $10-25k'].str.replace(',','').str.replace('$','').astype('int')
df2a['Renters $25k - Max'] = df2a['Renters $25k - Max'].str.replace(',','').str.replace('$','').astype('int')
df2a['Renters Max'] = df2a['Renters Max'].str.replace(',','').str.replace('$','').astype('int')

df2a.dtypes

address                   object
IHP Amount for Renters     int32
Renters Approved           int32
Renters <$10k              int32
Renters $10-25k            int32
Renters $25k - Max         int32
Renters Max                int32
dtype: object

In [35]:
df2b = df2a.groupby(["address"])

df2b = df2b.sum()
df2b

,IHP Amount for Renters,Renters Approved,Renters <$10k,Renters $10-25k,Renters $25k - Max,Renters Max
address,,,,,,
"4116, IL, Brown (County)",32272,8,6,2,0,0
"4116, IL, Bureau (County)",622024,260,251,9,0,0
"4116, IL, Calhoun (County)",31821,14,14,0,0,0
"4116, IL, Clark (County)",44331,11,9,2,0,0
"4116, IL, Cook (County)",90293298,36895,35846,966,83,29
...,...,...,...,...,...,...
"4466, TX, Jefferson (County)",18405207,2319,1436,842,41,0
"4466, TX, Liberty (County)",3696788,579,435,137,7,0
"4466, TX, Montgomery (County)",8022615,1100,780,293,27,0
"4466, TX, Orange (County)",9672865,1585,1186,374,25,0
"4466, TX, San Jacinto (County)",82351,20,18,2,0,0

In [19]:
#result = pd.merge(left, right, how='left', on=['key1', 'key2'])
merge23 = pd.merge(df1, df2b, how = 'outer', on=['address'])
merge23

,address,Disaster,fyDeclared,incidentType,Renters$25k-Max
0,"4116, IL, Adams (County)",4116.0,2013.0,Flood,NaN
1,"4116, IL, Mason (County)",4116.0,2013.0,Flood,0.0
2,"4116, IL, McDonough (County)",4116.0,2013.0,Flood,0.0
3,"4116, IL, Mercer (County)",4116.0,2013.0,Flood,NaN
4,"4116, IL, Monroe (County)",4116.0,2013.0,Flood,NaN
...,...,...,...,...,...
5627,"4337, FL, Las Piedras (Municipio)",NaN,NaN,NaN,0.0
5628,"4337, FL, Lowndes (County)",NaN,NaN,NaN,0.0
5629,"4338, GA, Statewide",NaN,NaN,NaN,0.0
5630,"4338, GA, Volusia (County)",NaN,NaN,NaN,0.0
5631,"4339, PR, Statewide",NaN,NaN,NaN,0.0

In [10]:
dfs = [df1,df2b]
all_data_df = pd.concat(dfs, axis = 1,join = 'outer',keys = 'address', ignore_index = True)
all_data_df

,0,1,2,3,4
38524,"4116, IL, Adams (County)",4116.0,2013.0,Flood,NaN
38525,"4116, IL, Brown (County)",4116.0,2013.0,Flood,NaN
38526,"4116, IL, Bureau (County)",4116.0,2013.0,Flood,NaN
38527,"4116, IL, Calhoun (County)",4116.0,2013.0,Flood,NaN
38528,"4116, IL, Carroll (County)",4116.0,2013.0,Flood,NaN
...,...,...,...,...,...
"4466, TX, Jefferson (County)",NaN,NaN,NaN,NaN,0.0
"4466, TX, Liberty (County)",NaN,NaN,NaN,NaN,0.0
"4466, TX, Montgomery (County)",NaN,NaN,NaN,NaN,0.0
"4466, TX, Orange (County)",NaN,NaN,NaN,NaN,0.0
"4466, TX, San Jacinto (County)",NaN,NaN,NaN,NaN,0.0

In [11]:
df3 = df3.rename(columns ={"Total Approved IHP Amount" : "IHP Amount for Owners"})
df3 = df3.rename(columns ={"Approved for FEMA Assistance" : "Owners Approved"})
df3 = df3.rename(columns ={"Approved between $1 and $10,000" : "Owners <$10k"})
df3 = df3.rename(columns ={"Approved between $10,001 and $25,000" : "Owners $10-25k"})
df3 = df3.rename(columns ={"Approved between $25,001 and Max" : "Owners $25k - Max"})
df3 = df3.rename(columns ={"Total Max Grants" : "Owners Max"})

In [21]:
df3a = df3.loc[:,["address", "Disaster", "IHP Amount for Owners","Owners Approved", 
                 "Owners <$10k", "Owners $10-25k", "Owners $25k - Max", "Owners Max"]]
del(df3a["Disaster"])

df3a.dtypes

address                  object
IHP Amount for Owners    object
Owners Approved           int64
Owners <$10k              int64
Owners $10-25k            int64
Owners $25k - Max         int64
Owners Max                int64
dtype: object

In [36]:
df3a

,address,IHP Amount for Owners,Owners Approved,Owners <$10k,Owners $10-25k,Owners $25k - Max,Owners Max
0,"4116, IL, Lake (County)","$11,231",4,4,0,0,0
1,"4116, IL, Cook (County)",$0,0,0,0,0,0
2,"4116, IL, Cook (County)",$260,1,1,0,0,0
3,"4116, IL, Cook (County)","$3,619",2,2,0,0,0
4,"4116, IL, Cook (County)","$2,590",1,1,0,0,0
...,...,...,...,...,...,...,...
22728,"4466, TX, Jefferson (County)","$62,725",40,40,0,0,0
22729,"4466, TX, Jefferson (County)","$568,172",181,180,1,0,0
22730,"4466, TX, Jefferson (County)","$19,588",11,11,0,0,0
22731,"4466, TX, Harris (County)",$0,0,0,0,0,0
22732,"4466, TX, Jefferson (County)","$60,184",28,28,0,0,0

In [37]:
df3b = df3a.groupby(["address"])

df3b = df3b.sum()
df3b

,Owners Approved,Owners <$10k,Owners $10-25k,Owners $25k - Max,Owners Max
address,,,,,
"4116, IL, Bureau (County)",19,19,0,0,0
"4116, IL, Calhoun (County)",4,4,0,0,0
"4116, IL, Clark (County)",0,0,0,0,0
"4116, IL, Cook (County)",12965,12332,598,35,1
"4116, IL, Crawford (County)",1,1,0,0,0
...,...,...,...,...,...
"4466, TX, Jefferson (County)",1207,1179,28,0,0
"4466, TX, Liberty (County)",184,181,3,0,0
"4466, TX, Montgomery (County)",207,196,11,0,0
"4466, TX, Orange (County)",322,314,8,0,0
"4466, TX, San Jacinto (County)",3,3,0,0,0

In [12]:
df3.columns

Index(['Disaster', 'State', 'County', 'City', 'Zip Code',
       'Valid Registrations', 'Total Inspected', 'Inspected with No Damage',
       'Total with Moderate Damage', 'Total with Major Damage',
       'Total with Substantial Damage', 'Owners Approved',
       'IHP Amount for Owners', 'Repair/Replace Amount', 'Rental Amount',
       'Other Needs Amount', 'Owners <$10k', 'Owners $10-25k',
       'Owners $25k - Max', 'Owners Max', 'address'],
      dtype='object')

In [6]:
dfs = [df1,df2,df3]
all_data_df = pd.concat(dfs, axis = 1,join = 'outer',keys = 'address', ignore_index = True)
all_data_df.head()

,0,1,2,3,4,5,6,7,8,9,...,58,59,60,61,62,63,64,65,66,67
0,DR-1-GA,1,GA,DR,1953-05-02T04:00:00.000Z,1953,Tornado,TORNADO,0,1,...,4.0,"$11,231",$0,"$9,318","$1,913",4.0,0.0,0.0,0.0,"4116, IL, Lake (County)"
1,DR-100-MO,100,MO,DR,1960-04-20T05:00:00.000Z,1960,Flood,FLOODS,0,1,...,0.0,$0,$0,$0,$0,0.0,0.0,0.0,0.0,"4116, IL, Cook (County)"
2,DR-1000-KS,1000,KS,DR,1993-07-22T04:00:00.000Z,1993,Flood,SEVERE STORMS & FLOODING,0,1,...,1.0,$260,$0,$0,$260,1.0,0.0,0.0,0.0,"4116, IL, Cook (County)"
3,DR-1000-KS,1000,KS,DR,1993-07-22T04:00:00.000Z,1993,Flood,SEVERE STORMS & FLOODING,0,1,...,2.0,"$3,619",$0,"$1,932","$1,687",2.0,0.0,0.0,0.0,"4116, IL, Cook (County)"
4,DR-1000-KS,1000,KS,DR,1993-07-22T04:00:00.000Z,1993,Flood,SEVERE STORMS & FLOODING,0,1,...,1.0,"$2,590",$0,"$1,932",$658,1.0,0.0,0.0,0.0,"4116, IL, Cook (County)"

In [7]:
all_data_df.fillna(value = '0')

,0,1,2,3,4,5,6,7,8,9,...,58,59,60,61,62,63,64,65,66,67
0,DR-1-GA,1,GA,DR,1953-05-02T04:00:00.000Z,1953,Tornado,TORNADO,0,1,...,4,"$11,231",$0,"$9,318","$1,913",4,0,0,0,"4116, IL, Lake (County)"
1,DR-100-MO,100,MO,DR,1960-04-20T05:00:00.000Z,1960,Flood,FLOODS,0,1,...,0,$0,$0,$0,$0,0,0,0,0,"4116, IL, Cook (County)"
2,DR-1000-KS,1000,KS,DR,1993-07-22T04:00:00.000Z,1993,Flood,SEVERE STORMS & FLOODING,0,1,...,1,$260,$0,$0,$260,1,0,0,0,"4116, IL, Cook (County)"
3,DR-1000-KS,1000,KS,DR,1993-07-22T04:00:00.000Z,1993,Flood,SEVERE STORMS & FLOODING,0,1,...,2,"$3,619",$0,"$1,932","$1,687",2,0,0,0,"4116, IL, Cook (County)"
4,DR-1000-KS,1000,KS,DR,1993-07-22T04:00:00.000Z,1993,Flood,SEVERE STORMS & FLOODING,0,1,...,1,"$2,590",$0,"$1,932",$658,1,0,0,0,"4116, IL, Cook (County)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51108,DR-999-SD,999,SD,DR,1993-07-19T04:00:00.000Z,1993,Severe Storm(s),"SEVERE STORMS, TORNADOES & FLOODING",0,1,...,0,0,0,0,0,0,0,0,0,0
51109,DR-999-SD,999,SD,DR,1993-07-19T04:00:00.000Z,1993,Severe Storm(s),"SEVERE STORMS, TORNADOES & FLOODING",0,1,...,0,0,0,0,0,0,0,0,0,0
51110,DR-999-SD,999,SD,DR,1993-07-19T04:00:00.000Z,1993,Severe Storm(s),"SEVERE STORMS, TORNADOES & FLOODING",0,1,...,0,0,0,0,0,0,0,0,0,0
51111,DR-999-SD,999,SD,DR,1993-07-19T04:00:00.000Z,1993,Severe Storm(s),"SEVERE STORMS, TORNADOES & FLOODING",0,1,...,0,0,0,0,0,0,0,0,0,0
51112,DR-999-SD,999,SD,DR,1993-07-19T04:00:00.000Z,1993,Severe Storm(s),"SEVERE STORMS, TORNADOES & FLOODING",0,1,...,0,0,0,0,0,0,0,0,0,0

In [9]:
all_data_df.to_csv('All_Housing_Data',index = False)

In [38]:
merge23 = pd.merge(df2b, df3b, how = 'outer', on=['address'])
merge23

,IHP Amount for Renters,Renters Approved,Renters <$10k,Renters $10-25k,Renters $25k - Max,Renters Max,Owners Approved,Owners <$10k,Owners $10-25k,Owners $25k - Max,Owners Max
address,,,,,,,,,,,
"4116, IL, Brown (County)",32272.0,8.0,6.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
"4116, IL, Bureau (County)",622024.0,260.0,251.0,9.0,0.0,0.0,19.0,19.0,0.0,0.0,0.0
"4116, IL, Calhoun (County)",31821.0,14.0,14.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0
"4116, IL, Clark (County)",44331.0,11.0,9.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"4116, IL, Cook (County)",90293298.0,36895.0,35846.0,966.0,83.0,29.0,12965.0,12332.0,598.0,35.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
"4337, FL, San Juan (Municipio)",NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
"4337, FL, Statewide",NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
"4393, NC, Greenwood (County)",NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
"4393, NC, Horry (County)",NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
"4399, FL, Bacon (County)",NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0